.sign-up-page-wrapper{
  width: 30%;
  height: 50%;
  -webkit-box-shadow: 2px 0px 33px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 0px 33px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 0px 33px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}